page-home {


    // .bg{
    //     background: linear-gradient(to top, #0037E4, #fff, 50%);
    // }
    ion-content{
        background-image: url(../assets/imgs/Logo_1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .button-container{
      width: 130px;
    }
    .padding{
      padding: 500px;
    }

}
// ion-content{
//     background-image: url(../assets/imgs/Logo_1.png);
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: contain;
// }
